.original,
.zoomed{
    position: relative;
    overflow: hidden;
}

.original img{
}

.zoomed {
    img{
        position: relative;
    }
}

.mark {
    position: absolute;
}

.hide {
    visibility: hidden;
}

