.zoom-image-container,
.zoom-control {
    float: left;
}

aside {
    position: absolute;
    right: 0;
    max-width: 30%;
}

.container-fluid{
    margin: 0 .5em;
    padding: 0;
}

.zoom-image-container {
    margin-left: 4em;
    width: 800px;
    outline: 1px solid #999;
}

.zoom-control {
    width: 300px;
}
